div{
    border: 0;
    font-family: sans-serif;
    line-height: 1;
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -webkit-backface-visibility: hidden;
    box-sizing: border-box;
    color: #333;
    transition: .3s cubic-bezier(.4,.4,0,1);
    word-spacing: 1px;
}

.StudioCanvas {
    display: flex;
    height: auto;
    min-height: 100vh;
}

.sd[data-s-66e5ee07-e9fb-47f8-96c6-d2ee282a96e5] {
    align-content: center;
    align-items: center;
    background: #1a1c19;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 100%;
    justify-content: flex-start;
    width: 100%;
    max-width: 100%;
}

.sd[data-s-43c367af-2468-4f19-8f45-6dd6ba69f82f] {
    align-content: flex-start;
    align-items: flex-start;
    background: rgba(0, 0, 0, 0.0);
    flex: none;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 900px;
    justify-content: flex-start;
    padding: 10px;
    width: 1440px;
    max-width: 100%;
}

.sd[data-s-f7ae86e2-a3b0-43bc-b76c-e1b00c6408a2] {
    align-content: flex-start;
    align-items: flex-start;
    background: rgba(0, 0, 0, 0.0);
    border-bottom: 1px solid #e0d6c2;
    border-left: 1px solid #e0d6c2;
    border-radius: 28px;
    border-right: 1px solid #e0d6c2;
    border-top: 1px solid #e0d6c2;
    flex: none;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 56px;
    justify-content: space-between;
    padding: 3px;
    width: 100%;
    max-width: 100%;
}
.sd[data-s-5d37ec4a-4c06-4ce9-8bbb-c2b918a25e6e] {
    align-content: center;
    align-items: center;
    flex: none;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 100%;
    justify-content: center;
    padding: 0px;
    max-width: 100%;
}
.sd[data-s-70b4b1ae-e818-4725-bd90-09aac9caf70e] {
    align-content: center;
    align-items: center;
    background: rgba(155, 134, 79, 0.2);
    border-radius: 32px;
    flex: none;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 100%;
    justify-content: center;
    margin: 0px 3px 0px 0px;
    width: 370px;
    max-width: calc(100% - 3px);
}
.sd[data-s-08527032-041f-4892-98c3-53ce43e9386b] {
    color: #e0d6c2;
    font-family: var(--s-font-2abd927f);
    font-size: 14px;
    font-weight: 500;
    height: auto;
    letter-spacing: -0.02em;
    line-height: 1.4;
    text-align: center;
    width: auto;
    max-width: 100%;
    justify-content: center;
}
.sd.icon, .sd.text {
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow: visible;
    overflow-wrap: anywhere;
    word-break: break-word;
}
.sd[data-s-f03cf8f6-904d-4784-9fa2-ee5f032edcbe] {
    align-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.0);
    border-bottom: 1px solid #e0d6c2;
    border-left: 1px solid #e0d6c2;
    border-radius: 32px;
    border-right: 1px solid #e0d6c2;
    border-top: 1px solid #e0d6c2;
    flex: none;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 100%;
    justify-content: center;
    margin: 0px 3px 0px 0px;
    padding: 0px 40px 0px;
    width: auto;
    max-width: calc(100% - 3px);
}


.sd[data-s-d6a40beb-3f31-40aa-90ab-f38f5a03ad14] {
    color: #e0d6c2;
    font-family: var(--s-font-2abd927f);
    font-size: 14px;
    font-weight: 500;
    height: auto;
    letter-spacing: -0.02em;
    line-height: 1.4;
    text-align: center;
    width: auto;
    max-width: 100%;
    justify-content: center;
}
.sd.icon, .sd.text {
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow: visible;
    overflow-wrap: anywhere;
    word-break: break-word;
}

.sd[data-s-615180df-b96e-4c21-839d-91d35b2e5776] {
    align-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.0);
    border-bottom: 1px solid #e0d6c2;
    border-left: 1px solid #e0d6c2;
    border-radius: 32px;
    border-right: 1px solid #e0d6c2;
    border-top: 1px solid #e0d6c2;
    flex: none;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 100%;
    justify-content: center;
    margin: 0px 3px 0px 0px;
    padding: 0px 40px 0px;
    width: auto;
    max-width: calc(100% - 3px);
}

.sd[data-s-04924ba5-ccb7-483f-b1e2-33b321a2e0f3] {
    color: #e0d6c2;
    font-family: var(--s-font-2abd927f);
    font-size: 14px;
    font-weight: 500;
    height: auto;
    letter-spacing: -0.02em;
    line-height: 1.4;
    text-align: center;
    width: auto;
    max-width: 100%;
    justify-content: center;
}
.sd.icon, .sd.text {
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow: visible;
    overflow-wrap: anywhere;
    word-break: break-word;
}


.sd[data-s-94176774-9adb-42ef-a416-fbe7ed6ace49] {
    align-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.0);
    border-bottom: 1px solid #e0d6c2;
    border-left: 1px solid #e0d6c2;
    border-radius: 32px;
    border-right: 1px solid #e0d6c2;
    border-top: 1px solid #e0d6c2;
    flex: none;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 100%;
    justify-content: center;
    margin: 0px 3px 0px 0px;
    padding: 0px 40px 0px;
    width: auto;
    max-width: calc(100% - 3px);
}


    .sd[data-s-c3a55dcb-0b6d-4647-9505-ac9bd2d37525] {
        color: #e0d6c2;
        font-family: var(--s-font-2abd927f);
        font-size: 14px;
        font-weight: 500;
        height: auto;
        letter-spacing: -0.02em;
        line-height: 1.4;
        text-align: center;
        width: auto;
        max-width: 100%;
        justify-content: center;
    }
    .sd.icon, .sd.text {
        align-content: center;
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
        overflow: visible;
        overflow-wrap: anywhere;
        word-break: break-word;
    }
    
    .sd[data-s-6c284828-a709-48c0-8b6e-a588946b065b] {
        align-content: center;
        align-items: center;
        background: rgba(0, 0, 0, 0.0);
        border-bottom: 1px solid #e0d6c2;
        border-left: 1px solid #e0d6c2;
        border-radius: 32px;
        border-right: 1px solid #e0d6c2;
        border-top: 1px solid #e0d6c2;
        flex: none;
        flex-direction: column;
        flex-wrap: nowrap;
        height: 100%;
        justify-content: center;
        margin: 0px 0px 0px 0px;
        padding: 0px 40px 0px;
        width: auto;
        max-width: 100%;
    }
    
    .sd[data-s-03b81cad-45e2-4ebb-b349-d7927f4d0daa] {
        color: #e0d6c2;
        font-family: var(--s-font-2abd927f);
        font-size: 14px;
        font-weight: 500;
        height: auto;
        letter-spacing: -0.02em;
        line-height: 1.4;
        text-align: center;
        width: auto;
        max-width: 100%;
        justify-content: center;
    }
    .sd.icon, .sd.text {
        align-content: center;
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
        overflow: visible;
        overflow-wrap: anywhere;
        word-break: break-word;
    }
   
    .sd[data-s-a76b8d3a-f770-4b12-8a30-061890747caa] {
        align-content: center;
        align-items: center;
        background: rgba(0, 0, 0, 0.0);
        border-bottom: 1px solid #e0d6c2;
        border-left: 1px solid #e0d6c2;
        border-radius: 32px;
        border-right: 1px solid #e0d6c2;
        border-top: 1px solid #e0d6c2;
        display: none;
        flex: none;
        flex-direction: column;
        flex-wrap: nowrap;
        height: 100%;
        justify-content: center;
        margin: 0px 0px 0px 0px;
        padding: 0px 40px 0px;
        width: auto;
        max-width: 100%;
    }
    
    .sd {
        /* flex-wrap: nowrap; */
        max-width: 100%;
        pointer-events: all;
        z-index: 0;
        -webkit-overflow-scrolling: touch;
        align-content: center;
        align-items: center;
        display: flex;
        flex: none;
        flex-direction: column;
        position: relative;
    }
    .sd[data-s-d0ae2ca1-885a-407f-bd91-f4bf6a4b5d96] {
        align-content: flex-start;
        align-items: flex-start;
        background: #e0d6c2;
        border-bottom: 0px solid rgba(0, 0, 0, 0.35);
        border-left: 0px solid rgba(0, 0, 0, 0.35);
        border-radius: 30px;
        border-right: 0px solid rgba(0, 0, 0, 0.35);
        border-top: 0px solid rgba(0, 0, 0, 0.35);
        flex: none;
        flex-direction: column;
        flex-wrap: nowrap;
        height: 100%;
        justify-content: flex-end;
        margin: 0px 10px 0px 0px;
        overflow-x: hidden;
        overflow-y: hidden;
        padding: 0px;
        width: calc(33% - 10px);
        max-width: calc(33% - 10px);
    }
    .sd[data-s-58a7cdbd-305c-4425-9fda-78cd31f3c7a0] {
        align-content: flex-start;
        align-items: flex-start;
        background: rgba(0, 0, 0, 0.0);
        flex: none;
        flex-direction: column;
        flex-wrap: nowrap;
        height: auto;
        justify-content: flex-start;
        padding: 30px;
        width: 100%;
        max-width: 100%;
    }
    .sd[data-s-d6096a1d-a7b1-466f-914e-51121daaef92] {
        color: #342415;
        flex: none;
        font-family: var(--s-font-a9b451db);
        font-size: 16px;
        font-weight: 400;
        height: auto;
        line-height: 1.1;
        margin: 30px 0px 0px 0px;
        padding: 0px 0px 0px;
        text-align: left;
        width: 100%;
        max-width: 100%;
    }
    .richText {
        display: block;
        word-break: break-word;
    }
    .sd[data-s-d6096a1d-a7b1-466f-914e-51121daaef92] >h2 {
        letter-spacing: -0.04em;
        margin: 0px 0px 0px 0px;
    }

   .sd[data-s-1c4a78fd-91cb-473d-9d0b-43c1a62545e3] {
    align-content: center;
    align-items: center;
    border-radius: 18px;
    flex: 1;
    flex-direction: column;
    flex-wrap: nowrap;
    height: auto;
    justify-content: center;
    margin: 0px 15px 0px;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 0px;
    width: calc(100% - 30px);
    max-width: calc(100% - 30px);
}
.sd, .sd.richText * {
    transition-property: all, --g-angle, --g-color-0, --g-position-0, --g-color-1, --g-position-1, --g-color-2, --g-position-2, --g-color-3, --g-position-3, --g-color-4, --g-position-4, --g-color-5, --g-position-5, --g-color-6, --g-position-6, --g-color-7, --g-position-7, --g-color-8, --g-position-8, --g-color-9, --g-position-9, --g-color-10, --g-position-10, --g-color-11, --g-position-11;
}
.sd {
    /* flex-wrap: nowrap; */
    max-width: 100%;
    pointer-events: all;
    z-index: 0;
    -webkit-overflow-scrolling: touch;
    align-content: center;
    align-items: center;
    display: flex;
    flex: none;
    flex-direction: column;
    position: relative;
}
.sd[data-s-7236f862-b350-418b-a1c3-37b08bc7e5d5] {
    border-radius: 0;
    flex: none;
    height: 100%;
    margin: 0px 0px 0px;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 0px 0px 0px;
    transition-duration: 1000ms;
    width: 100%;
    max-width: 100%;
}
.image {
    position: relative;
}
.sd[data-s-7236f862-b350-418b-a1c3-37b08bc7e5d5] {
    border-radius: 0;
    flex: none;
    height: 100%;
    margin: 0px 0px 0px;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 0px 0px 0px;
    transition-duration: 1000ms;
    width: 100%;
    max-width: 100%;
}
.sd[data-r-0_1_0_1_0_7236f862-b350-418b-a1c3-37b08bc7e5d5]:before {
    background-image: url(https://images.unsplash.com/photo-1577083288073-40892c0860a4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=5122&q=80);
}
.image:before {
    background-position: 50%;
    background-size: cover;
    border-radius: inherit;
    content: "";
    height: 100%;
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    transition: inherit;
    width: 100%;
    z-index: -2;
}style {
    display: none;
}
.sd[data-s-3424b9de-16ad-434e-a050-08a62d54f047] {
    align-content: flex-start;
    align-items: flex-start;
    background: rgba(0, 0, 0, 0.0);
    border-radius: 0px;
    flex: none;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 100%;
    justify-content: flex-end;
    margin: 0px 0px 0px 0px;
    width: 67%;
    max-width: 67%;
}
.sd[data-s-0da8d506-85b9-4f45-b52e-552526eb0dbf] {
    align-content: flex-start;
    align-items: flex-start;
    background: #8f8868;
    border-radius: 30px;
    flex: 1;
    flex-direction: column;
    flex-wrap: nowrap;
    height: auto;
    justify-content: flex-end;
    margin: 0px 0px 0px;
    overflow-x: hidden;
    overflow-y: hidden;
    width: 100%;
    max-width: 100%;
}
.sd[data-s-c36054f6-ef51-4937-a799-c2dc4a8d6ade] {
    align-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.0);
    flex: 1;
    flex-direction: row;
    flex-wrap: nowrap;
    height: auto;
    justify-content: flex-start;
    padding: 30px 30px 0px 30px;
    width: 100%;
    max-width: 100%;
}
.sd[data-s-899c2c8d-cf8e-46e7-a442-a99fcff4159a] {
    align-content: flex-start;
    align-items: flex-start;
    background: rgba(0, 0, 0, 0.0);
    flex: none;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 100%;
    justify-content: flex-start;
    margin: 0px 5px 0px 0px;
    width: calc(50% - 5px);
    max-width: calc(50% - 5px);
}
.sd[data-s-377093fd-79dc-406f-93fd-f739ca23ad72] {
    color: #342415;
    flex: none;
    font-family: var(--s-font-a9b451db);
    font-size: 16px;
    font-weight: 400;
    height: auto;
    line-height: 1.1;
    margin: 37px 0px 30px 11px;
    padding: 0px 0px 0px;
    text-align: left;
    width: 100%;
    max-width: 100%;
}
.richText {
    display: block;
    word-break: break-word;
}
.sd[data-s-377093fd-79dc-406f-93fd-f739ca23ad72] >h2 {
    letter-spacing: -0.04em;
    margin: 0px 0px 0px 0px;
}
.sd[data-s-525558e4-d9f5-4944-81be-4cb7978578f8] {
    color: #342415;
    flex: none;
    font-family: var(--s-font-2abd927f);
    font-size: 14px;
    font-weight: 500;
    height: auto;
    line-height: 1.4;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px;
    text-align: left;
    width: 100%;
    max-width: 100%;
}
.richText {
    display: block;
    word-break: break-word;
}
.sd[data-s-525558e4-d9f5-4944-81be-4cb7978578f8] >p {
    margin: 0px 0px 0px 0px;
}
.sd[data-s-0934888e-b965-47c5-8368-7ad616be6839] {
    align-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.0);
    border-radius: 18px;
    flex: none;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 100%;
    justify-content: center;
    margin: 0px 0px 0px 35px;
    overflow-x: hidden;
    overflow-y: hidden;
    width: calc(50% - 35px);
    max-width: calc(50% - 35px);
}
.sd[data-s-4f1ec42e-0134-45f0-a19b-a33a621e183d] {
    flex: none;
    height: 100%;
    margin: 0px 0px 0px 0px;
    transition-duration: 1000ms;
    width: 100%;
    max-width: 100%;
}
.image {
    position: relative;
}
.sd[data-r-0_1_0_0_1_1_0_4f1ec42e-0134-45f0-a19b-a33a621e183d]:before {
    background-image: url(https://images.unsplash.com/photo-1583934555920-8a26b7d75598?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2016&q=80);
}
.image:before {
    background-position: 50%;
    background-size: cover;
    border-radius: inherit;
    content: "";
    height: 100%;
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    transition: inherit;
    width: 100%;
    z-index: -2;
}
.sd[data-s-e2f894ac-e6c3-47ff-8e80-b578119252f8] {
    align-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.0);
    border-bottom: 0px solid rgba(52, 36, 21, 0.35);
    border-left: 0px solid rgba(52, 36, 21, 0.35);
    border-right: 0px solid rgba(52, 36, 21, 0.35);
    border-top: 1px solid rgba(52, 36, 21, 0.35);
    flex: none;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 65px;
    justify-content: space-between;
    margin: 30px 0px 0px 0px;
    padding: 0px 30px 0px;
    width: 100%;
    max-width: 100%;
}
.sd[data-s-935d9080-67ee-4b82-8f4e-9b1a8d8fca9c] {
    color: #1a1c19;
    font-family: var(--s-font-2abd927f);
    font-size: 14px;
    font-weight: 500;
    height: auto;
    letter-spacing: -0.02em;
    line-height: 1.4;
    text-align: center;
    width: auto;
    max-width: 100%;
    justify-content: center;
}
.sd.icon, .sd.text {
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow: visible;
    overflow-wrap: anywhere;
    word-break: break-word;
}
.sd[data-s-aa7752f8-55a1-40f2-a2d1-027ed28c951e] {
    align-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.0);
    flex: 1;
    flex-direction: row;
    flex-wrap: nowrap;
    height: auto;
    justify-content: flex-start;
    margin: 10px 0px 0px 0px;
    width: 100%;
    max-width: 100%;
}
